src/main/mule/get-bio-{id}.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<flow name="get-bio-id" doc:id="199e5348-843f-4690-816d-3c68c6afbeb3" >
		<logger level="INFO" doc:name="Logger de Chegada" doc:id="996a5b7b-fafc-49a6-ad2c-e4c83880797d" message="Chegou aqui!"/>
		<logger level="INFO" doc:name="Logger" doc:id="5fc524fd-6dbd-46db-9e9b-25e7031f872e" message="#['\n********************************************\n' ++ 'Flow started with correlation id - ' ++ correlationId ++  '\n********************************************\n']" />
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<mongo:find-documents collectionName="superBio" fields="," doc:name="Find documents" doc:id="b190be7b-6619-40d5-b7d2-24a364a11450" config-ref="MongoDB_Config">
						<mongo:query><![CDATA[#[output application/json
---
{"id": vars.id}]]]></mongo:query>
					</mongo:find-documents>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload reduce ($ ++ $$)]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7f0f13fb-6f99-47ca-9505-d703e54cea27" message="#['\n********************************************\n' ++ 'Flow End' ++  '\n********************************************\n']" />
		<logger level="INFO" doc:name="Logger de saida" doc:id="b132b03d-a82a-4928-9db3-2c737c3dedc2" message="já acabou!"/>
	</flow>
</mule>
